* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #16518C;
    color: #fff;
    font-family: 'Arial', Sans-seriff;
}

.clock {
    font-size: 3rem;
    font-weight: bold;
    padding: 20px 40px;
    border: 1px solid #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 2.0);
}

.date {
    font-size: 1.5rem;
    margin-top: 10px;
    color: #ddd;
}

.jesse-codes {
    margin: 7px;
}
p {
    text-align: center;
    color: #fff;
}




@media (max-width: 768px) {
    body {
        padding: 20px;
    }

    .clock {
        font-size: 2rem; 
        padding: 15px 30px; 
    }

    .date {
        font-size: 1.1rem; 
    }
}

/* Responsiveness for smaller screen sizes */
@media (max-width: 480px) {
    .clock {
        font-size: 1.5rem; 
        padding: 10px 20px; 
    }

    .date {
        font-size: 0.85rem; 
    }
}